h1 {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #000;
    color:#fff;
    padding:2px;
    margin:3px 0;
}
h2 {
    font-size: 1.2em;
    font-weight: bold
}
h3 {
    font-size: 1.1em;
    font-weight: bold
}
h4 {
    font-size: 1em;
    font-weight: bold
}
.screen-reader {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:scroll;
    z-index:-999;
}
nav {
    background-color:#eee;
    width:100%;
    clear:both;
    min-height: 1.4em;

}
nav p {
    display:inline;
    color:#000;
    padding:.2px;
    margin:0;
    width:100%;
}
nav p.prev {
    /*float:left;*/
    left:0%;
    padding-left:1em;
    width:35%;
    display:inline-block;
}
nav p.next{
    /*float:right;*/
    /*left:60%;*/
    padding-right:1em;
    width:32%;
    text-align:right;
    display:inline-block;

}
nav p.toc {
    width:30%;
    left:40%;
    /*float:left;*/
    /*margin-left:30%;*/
    /*float:left;*/
    /*margin:0 auto;*/
}
nav p.toc select {
    width:24%;
    margin:0 auto;
}
nav p.toc go-button {
    /*width:2%;*/
}
table, th, td {
    border: 1px solid #333;
}
th, td {
    padding:3px;
}
caption {
    caption-side: bottom;
    font-size:0.9em;
}

.tip {
    border:thin solid #cc0;
    background-color:#ffd;
    margin:1em;
    padding:1em;
}

.code {
    font-family: "Courier New", Courier, monospace;
    border: thin solid #666;
    background-color:#eee;
    padding:0.5em;
    white-space: pre-wrap;

}

.example {
    border: thin dashed #666;
    background-color:#fff;
    margin:1em 0.5em;
    padding:0.5em;
}

.good {
    border: thick solid #090;
}

.bad {
    border: thick solid #900;
}
section.example h3{
    font-weight: normal;
    font-size: 1.1em;
    background-color:#eef;
    padding: .5em 0;
}
section.example .first-word{
    font-weight: bold;
}

section.step {
    border-top: medium solid #666;
    border-bottom: medium solid #666;
    margin:1em 0;
    padding:1em;
}

ol.section-508 {
    list-style:lower-alpha;
}

blockquote p {
    margin:0;
}

blockquote p.attribution{
    font-style: italic;
    margin-left:3em;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:scroll;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}
