h1 {
    font-size: 1.3em;
    font-weight: bold;
    background-color: #000;
    color:#fff;
    padding:2px;
    margin:3px 0 0 0;
    text-align:center;
}
h2 {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #666;
}
h3 {
    font-size: 1.1em;
    font-weight: bold;
}
h4 {
    font-size: 1em;
    font-weight: bold;
}
.screen-reader {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:scroll;
    z-index:-999;
}
nav {
    background-color:#eee;
    width:100%;
    clear:both;
    min-height: 1.4em;

}
nav p {
    color:#000;
    margin:0;
    width:100%;
    padding:0;
}
nav p.toc {
    text-align: center;
    top:0em;
    position:relative;
    padding: 2px 0;
    height:1em;
}
nav p.toc select {
    width:80%;
    /*margin:.5em auto;*/
}
nav p.toc go-button {
    width:4%;
}

nav p.prev {
    padding-left:1%;
    width:48%;
    display:inline-block;
    top:0.4em;
    position:relative;
    /*padding:2px;*/
    /*background-color:#333;*/
    min-height:2.6em;
}
nav p.next{
    left:0%;
    width:48%;
    text-align:right;
    display:inline-block;
    top:0.4em;
    position:relative;
    /*padding:2px;*/
    /*background-color:#333;*/
    padding-right:1%;
    min-height:2.6em;
}
nav p.prev img {
    position: relative;
    top:0.4em;
    margin-right:6px;
}
nav p.next img {
    position: relative;
    top:0.4em;
    /*left:134px;*/
    margin-left:6px;

} 
#next-text {
    padding-right:20px;
}
nav p.prev a,nav p.prev a:link, nav p.prev a:visited, nav p.prev a:hover, nav p.prev active {
    color:#000;
    text-decoration: none;
}
nav p.next a,nav p.next a:link, nav p.next a:visited, nav p.next a:hover, nav p.next active {
    color:#000;
    text-decoration: none;

}

table, th, td {
    border: 1px solid #333;
}
th, td {
    padding:3px;
}
caption {
    caption-side: bottom;
    font-size:0.9em;
}

.tip {
    border:thin solid #cc0;
    background-color:#ffd;
    margin:1em;
    padding:1em;
}

.code {
    font-family: "Courier New", Courier, monospace;
    border: thin solid #666;
    background-color:#eee;
    padding:0.5em;
    white-space: pre-wrap;
    word-wrap:break-word;
}

.example {
    border: thin dashed #666;
    background-color:#fff;
    margin:1em 0.5em;
    padding:0.5em;
}

.good {
    border: thick solid #090;
}

.bad {
    border: thick solid #900;
}
section.example h3{
    font-weight: normal;
    font-size: 1.1em;
    background-color:#eef;
    padding: .5em 0;
}
section.example .first-word{
    font-weight: bold;
}

section.step {
    border-top: medium solid #666;
    border-bottom: medium solid #666;
    margin:1em 0;
    padding:1em;
}

ol.section-508 {
    list-style:lower-alpha;
}

blockquote p {
    margin:0;
}

blockquote p.attribution{
    font-style: italic;
    margin-left:3em;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:scroll;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

@media only screen and (min-width: 31em){
    body {
        max-width:960px;
        margin:0 auto;
        background-color:#fff;
    }
    h1 {
        text-align:inherit;   
    }

    nav {
        min-height:2.3em;
    }
    nav p {
        color:#000;
        margin:0;
        width:100%;

    }
    nav p.toc {
        text-align: center;
        top:0.2em;
        position:relative;
        padding: 2px 0;
        height:1px;
    }
    nav p.toc select {
        width:25%;
    }
    nav p.toc go-button {
        width:4%;
    }

    nav p.prev {
        padding-left:1%;
        width:29%;
        display:inline-block;
        top:-0.3em;
        position:relative;
        background-color:inherit;
        min-height:1em;
    }
    nav p.next{
        left:38%;
        width:30%;
        text-align:right;
        display:inline-block;
        top:-0.3em;
        position:relative;
        background-color:inherit;
        padding-right:1%;
        min-height:1em;
    }

    nav p.prev img {
        position: relative;
        top:0.4em;
        margin-right:4px;
    }
    nav p.next img {
        position: relative;
        top:0.4em;
        /*left:134px;*/

    } 
    #next-text {
        padding-right:20px;
    }
    nav p.prev a,nav p.prev a:link, nav p.prev a:visited, nav p.prev a:hover, nav p.prev active {
        color:inherit;
        text-decoration: inherit;
    }
    nav p.next a,nav p.next a:link, nav p.next a:visited, nav p.next a:hover, nav p.next active {
        color:inherit;
        text-decoration: inherit;

    }
}

