h1 {
    font-size: 1.4em;
    font-weight: bold;
}
h2 {
    font-size: 1.2em;
    font-weight: bold
}
h3 {
    font-size: 1.1em;
    font-weight: bold
}
h4 {
    font-size: 1em;
    font-weight: bold
}
table, th, td {
    border: 1px solid #333;
}
th, td {
    padding:3px;
}
caption {
    caption-side: bottom;
    font-size:0.9em;
}

.tip {
    border:thin solid #cc0;
    background-color:#ffd;
    margin:1em;
    padding:1em;
}

.code {
    font-family: "Courier New", Courier, monospace;
    border: thin solid #666;
    background-color:#eee;
    padding:0.5em;
    white-space: pre-wrap;
    
}

.example {
    border: thin dashed #666;
    background-color:#fff;
    margin:1em 0.5em;
    padding:0.5em;
}

.good {
    border: thick solid #090;
}

.bad {
    border: thick solid #900;
}
section.example h3{
    font-weight: normal;
    font-size: 1.1em;
    background-color:#eef;
    padding: .5em 0;
}
section.example .first-word{
    font-weight: bold;
}

section.step {
    border-top: medium solid #666;
    border-bottom: medium solid #666;
    margin:1em 0;
    padding:1em;
}

ol.section-508 {
    list-style:lower-alpha;
}